
<footer class="footer text-center">
    Dash Tech Inc.
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
        </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
    </div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<!-- Bootstrap tether Core JavaScript -->
<script src="~/Content/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/Content/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Content/dist/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="~/Content/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Content/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/Content/dist/js/custom.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="~/Content/assets/libs/chartist/dist/chartist.min.js"></script>
<script src="~/Content/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="~/Content/dist/js/pages/dashboards/dashboard1.js"></script>
<script src="~/Content/dist/js/pages/dashboards/dashboard1.js"></script>
