@model DashReportingTool.Models.TechMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manage/Views/HomeManage/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TechMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TechName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TechId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
